<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-documentsegment-heading"
        data-cy="DocumentsegmentCreateUpdateHeading"
        jhiTranslate="accountingassistantApp.documentsegment.home.createOrEditLabel"
      >
        Create or edit a Documentsegment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="accountingassistantApp.documentsegment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let bedrijfsnummerRef = editForm.get('bedrijfsnummer')!;
        <div class="mb-3">
          <label class="form-label" for="field_bedrijfsnummer" jhiTranslate="accountingassistantApp.documentsegment.bedrijfsnummer"
            >Bedrijfsnummer</label
          >
          <input
            type="text"
            class="form-control"
            name="bedrijfsnummer"
            id="field_bedrijfsnummer"
            data-cy="bedrijfsnummer"
            formControlName="bedrijfsnummer"
          />
          @if (bedrijfsnummerRef.invalid && (bedrijfsnummerRef.dirty || bedrijfsnummerRef.touched)) {
            <div>
              @if (editForm.get('bedrijfsnummer')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '4' }"
                  >This field cannot be longer than 4 characters.</small
                >
              }
            </div>
          }
        </div>

        @let documentNrBoekhoudingsdocumentRef = editForm.get('documentNrBoekhoudingsdocument')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentNrBoekhoudingsdocument"
            jhiTranslate="accountingassistantApp.documentsegment.documentNrBoekhoudingsdocument"
            >Document Nr Boekhoudingsdocument</label
          >
          <input
            type="text"
            class="form-control"
            name="documentNrBoekhoudingsdocument"
            id="field_documentNrBoekhoudingsdocument"
            data-cy="documentNrBoekhoudingsdocument"
            formControlName="documentNrBoekhoudingsdocument"
          />
          @if (
            documentNrBoekhoudingsdocumentRef.invalid &&
            (documentNrBoekhoudingsdocumentRef.dirty || documentNrBoekhoudingsdocumentRef.touched)
          ) {
            <div>
              @if (editForm.get('documentNrBoekhoudingsdocument')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let boekjaarRef = editForm.get('boekjaar')!;
        <div class="mb-3">
          <label class="form-label" for="field_boekjaar" jhiTranslate="accountingassistantApp.documentsegment.boekjaar">Boekjaar</label>
          <input type="text" class="form-control" name="boekjaar" id="field_boekjaar" data-cy="boekjaar" formControlName="boekjaar" />
          @if (boekjaarRef.invalid && (boekjaarRef.dirty || boekjaarRef.touched)) {
            <div>
              @if (editForm.get('boekjaar')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '4' }"
                  >This field cannot be longer than 4 characters.</small
                >
              }
            </div>
          }
        </div>

        @let boekingsregelNrBoekhoudingsdocumentRef = editForm.get('boekingsregelNrBoekhoudingsdocument')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_boekingsregelNrBoekhoudingsdocument"
            jhiTranslate="accountingassistantApp.documentsegment.boekingsregelNrBoekhoudingsdocument"
            >Boekingsregel Nr Boekhoudingsdocument</label
          >
          <input
            type="text"
            class="form-control"
            name="boekingsregelNrBoekhoudingsdocument"
            id="field_boekingsregelNrBoekhoudingsdocument"
            data-cy="boekingsregelNrBoekhoudingsdocument"
            formControlName="boekingsregelNrBoekhoudingsdocument"
          />
          @if (
            boekingsregelNrBoekhoudingsdocumentRef.invalid &&
            (boekingsregelNrBoekhoudingsdocumentRef.dirty || boekingsregelNrBoekhoudingsdocumentRef.touched)
          ) {
            <div>
              @if (editForm.get('boekingsregelNrBoekhoudingsdocument')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '3' }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        @let boekingsregelIdentificatieRef = editForm.get('boekingsregelIdentificatie')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_boekingsregelIdentificatie"
            jhiTranslate="accountingassistantApp.documentsegment.boekingsregelIdentificatie"
            >Boekingsregel Identificatie</label
          >
          <input
            type="text"
            class="form-control"
            name="boekingsregelIdentificatie"
            id="field_boekingsregelIdentificatie"
            data-cy="boekingsregelIdentificatie"
            formControlName="boekingsregelIdentificatie"
          />
          @if (boekingsregelIdentificatieRef.invalid && (boekingsregelIdentificatieRef.dirty || boekingsregelIdentificatieRef.touched)) {
            <div>
              @if (editForm.get('boekingsregelIdentificatie')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1' }"
                  >This field cannot be longer than 1 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vereffeningsdatum" jhiTranslate="accountingassistantApp.documentsegment.vereffeningsdatum"
            >Vereffeningsdatum</label
          >
          <div class="d-flex">
            <input
              id="field_vereffeningsdatum"
              data-cy="vereffeningsdatum"
              type="datetime-local"
              class="form-control"
              name="vereffeningsdatum"
              formControlName="vereffeningsdatum"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_invoerdatumVereffening"
            jhiTranslate="accountingassistantApp.documentsegment.invoerdatumVereffening"
            >Invoerdatum Vereffening</label
          >
          <div class="d-flex">
            <input
              id="field_invoerdatumVereffening"
              data-cy="invoerdatumVereffening"
              type="datetime-local"
              class="form-control"
              name="invoerdatumVereffening"
              formControlName="invoerdatumVereffening"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let vereffeningsdocumentNrRef = editForm.get('vereffeningsdocumentNr')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_vereffeningsdocumentNr"
            jhiTranslate="accountingassistantApp.documentsegment.vereffeningsdocumentNr"
            >Vereffeningsdocument Nr</label
          >
          <input
            type="text"
            class="form-control"
            name="vereffeningsdocumentNr"
            id="field_vereffeningsdocumentNr"
            data-cy="vereffeningsdocumentNr"
            formControlName="vereffeningsdocumentNr"
          />
          @if (vereffeningsdocumentNrRef.invalid && (vereffeningsdocumentNrRef.dirty || vereffeningsdocumentNrRef.touched)) {
            <div>
              @if (editForm.get('vereffeningsdocumentNr')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let boekingssleutelRef = editForm.get('boekingssleutel')!;
        <div class="mb-3">
          <label class="form-label" for="field_boekingssleutel" jhiTranslate="accountingassistantApp.documentsegment.boekingssleutel"
            >Boekingssleutel</label
          >
          <input
            type="text"
            class="form-control"
            name="boekingssleutel"
            id="field_boekingssleutel"
            data-cy="boekingssleutel"
            formControlName="boekingssleutel"
          />
          @if (boekingssleutelRef.invalid && (boekingssleutelRef.dirty || boekingssleutelRef.touched)) {
            <div>
              @if (editForm.get('boekingssleutel')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('boekingssleutel')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '2' }"
                  >This field cannot be longer than 2 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentkop" jhiTranslate="accountingassistantApp.documentsegment.documentkop"
            >Documentkop</label
          >
          <select
            class="form-control"
            id="field_documentkop"
            data-cy="documentkop"
            name="documentkop"
            formControlName="documentkop"
            [compareWith]="compareDocumentkop"
          >
            <option [ngValue]="null"></option>
            @for (documentkopOption of documentkopsSharedCollection; track $index) {
              <option [ngValue]="documentkopOption">{{ documentkopOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
