<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-documentkop-heading"
        data-cy="DocumentkopCreateUpdateHeading"
        jhiTranslate="accountingassistantApp.documentkop.home.createOrEditLabel"
      >
        Create or edit a Documentkop
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="accountingassistantApp.documentkop.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let bedrijfsnummerRef = editForm.get('bedrijfsnummer')!;
        <div class="mb-3">
          <label class="form-label" for="field_bedrijfsnummer" jhiTranslate="accountingassistantApp.documentkop.bedrijfsnummer"
            >Bedrijfsnummer</label
          >
          <input
            type="text"
            class="form-control"
            name="bedrijfsnummer"
            id="field_bedrijfsnummer"
            data-cy="bedrijfsnummer"
            formControlName="bedrijfsnummer"
          />
          @if (bedrijfsnummerRef.invalid && (bedrijfsnummerRef.dirty || bedrijfsnummerRef.touched)) {
            <div>
              @if (editForm.get('bedrijfsnummer')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '4' }"
                  >This field cannot be longer than 4 characters.</small
                >
              }
            </div>
          }
        </div>

        @let documentNrBoekhoudingsdocumentRef = editForm.get('documentNrBoekhoudingsdocument')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_documentNrBoekhoudingsdocument"
            jhiTranslate="accountingassistantApp.documentkop.documentNrBoekhoudingsdocument"
            >Document Nr Boekhoudingsdocument</label
          >
          <input
            type="text"
            class="form-control"
            name="documentNrBoekhoudingsdocument"
            id="field_documentNrBoekhoudingsdocument"
            data-cy="documentNrBoekhoudingsdocument"
            formControlName="documentNrBoekhoudingsdocument"
          />
          @if (
            documentNrBoekhoudingsdocumentRef.invalid &&
            (documentNrBoekhoudingsdocumentRef.dirty || documentNrBoekhoudingsdocumentRef.touched)
          ) {
            <div>
              @if (editForm.get('documentNrBoekhoudingsdocument')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let boekjaarRef = editForm.get('boekjaar')!;
        <div class="mb-3">
          <label class="form-label" for="field_boekjaar" jhiTranslate="accountingassistantApp.documentkop.boekjaar">Boekjaar</label>
          <input type="text" class="form-control" name="boekjaar" id="field_boekjaar" data-cy="boekjaar" formControlName="boekjaar" />
          @if (boekjaarRef.invalid && (boekjaarRef.dirty || boekjaarRef.touched)) {
            <div>
              @if (editForm.get('boekjaar')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '4' }"
                  >This field cannot be longer than 4 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentsoort" jhiTranslate="accountingassistantApp.documentkop.documentsoort"
            >Documentsoort</label
          >
          <select
            class="form-control"
            name="documentsoort"
            formControlName="documentsoort"
            id="field_documentsoort"
            data-cy="documentsoort"
          >
            <option [ngValue]="null">{{ 'accountingassistantApp.DocumentSoort.null' | translate }}</option>
            @for (documentSoort of documentSoortValues; track $index) {
              <option [value]="documentSoort">{{ 'accountingassistantApp.DocumentSoort.' + documentSoort | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_documentdatum" jhiTranslate="accountingassistantApp.documentkop.documentdatum"
            >Documentdatum</label
          >
          <div class="d-flex">
            <input
              id="field_documentdatum"
              data-cy="documentdatum"
              type="datetime-local"
              class="form-control"
              name="documentdatum"
              formControlName="documentdatum"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boekingsdatum" jhiTranslate="accountingassistantApp.documentkop.boekingsdatum"
            >Boekingsdatum</label
          >
          <div class="d-flex">
            <input
              id="field_boekingsdatum"
              data-cy="boekingsdatum"
              type="datetime-local"
              class="form-control"
              name="boekingsdatum"
              formControlName="boekingsdatum"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boekmaand" jhiTranslate="accountingassistantApp.documentkop.boekmaand">Boekmaand</label>
          <select class="form-control" name="boekmaand" formControlName="boekmaand" id="field_boekmaand" data-cy="boekmaand">
            <option [ngValue]="null">{{ 'accountingassistantApp.Maand.null' | translate }}</option>
            @for (maand of maandValues; track $index) {
              <option [value]="maand">{{ 'accountingassistantApp.Maand.' + maand | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoerdag" jhiTranslate="accountingassistantApp.documentkop.invoerdag">Invoerdag</label>
          <div class="d-flex">
            <input
              id="field_invoerdag"
              data-cy="invoerdag"
              type="datetime-local"
              class="form-control"
              name="invoerdag"
              formControlName="invoerdag"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoertijd" jhiTranslate="accountingassistantApp.documentkop.invoertijd">Invoertijd</label>
          <div class="d-flex">
            <input
              id="field_invoertijd"
              data-cy="invoertijd"
              type="datetime-local"
              class="form-control"
              name="invoertijd"
              formControlName="invoertijd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
