<div>
  <h2 id="page-heading" data-cy="DocumentkopHeading">
    <span jhiTranslate="accountingassistantApp.documentkop.home.title">Documentkops</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="accountingassistantApp.documentkop.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-documentkop"
        [routerLink]="['/documentkop/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="accountingassistantApp.documentkop.home.createLabel">Create a new Documentkop</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (documentkops?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="accountingassistantApp.documentkop.home.notFound">No Documentkops found</span>
    </div>
  }

  @if (documentkops && documentkops.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bedrijfsnummer">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.bedrijfsnummer">Bedrijfsnummer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentNrBoekhoudingsdocument">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.documentNrBoekhoudingsdocument"
                  >Document Nr Boekhoudingsdocument</span
                >

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="boekjaar">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.boekjaar">Boekjaar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentsoort">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.documentsoort">Documentsoort</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documentdatum">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.documentdatum">Documentdatum</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="boekingsdatum">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.boekingsdatum">Boekingsdatum</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="boekmaand">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.boekmaand">Boekmaand</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoerdag">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.invoerdag">Invoerdag</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="invoertijd">
              <div class="d-flex">
                <span jhiTranslate="accountingassistantApp.documentkop.invoertijd">Invoertijd</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentkop of documentkops; track trackId(documentkop)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/documentkop', documentkop.id, 'view']">{{ documentkop.id }}</a>
              </td>
              <td>{{ documentkop.bedrijfsnummer }}</td>
              <td>{{ documentkop.documentNrBoekhoudingsdocument }}</td>
              <td>{{ documentkop.boekjaar }}</td>
              <td [jhiTranslate]="'accountingassistantApp.DocumentSoort.' + (documentkop.documentsoort ?? 'null')">
                {{
                  { null: '', INKOMENDE_FACTUUR: 'INKOMENDE_FACTUUR', UITGAANDE_FACTUUR: 'UITGAANDE_FACTUUR' }[
                    documentkop.documentsoort ?? 'null'
                  ]
                }}
              </td>
              <td>{{ documentkop.documentdatum | formatMediumDatetime }}</td>
              <td>{{ documentkop.boekingsdatum | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'accountingassistantApp.Maand.' + (documentkop.boekmaand ?? 'null')">
                {{
                  {
                    null: '',
                    JA: 'JA',
                    FE: 'FE',
                    MA: 'MA',
                    AP: 'AP',
                    ME: 'ME',
                    JN: 'JN',
                    JL: 'JL',
                    AU: 'AU',
                    SE: 'SE',
                    OK: 'OK',
                    NO: 'NO',
                    DE: 'DE',
                  }[documentkop.boekmaand ?? 'null']
                }}
              </td>
              <td>{{ documentkop.invoerdag | formatMediumDatetime }}</td>
              <td>{{ documentkop.invoertijd | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/documentkop', documentkop.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/documentkop', documentkop.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentkop)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentkops && documentkops.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
